<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!--理财产品logdao -->
	<bean id="lcProductLogDao" class="org.guili.ecshop.impl.spider.LcProductLogDao">
			<property name="session" ref="sqlSession"></property>
	</bean>
	<!--理财银行dao -->
	<bean id="lcProductYinHangDao" class="org.guili.ecshop.impl.spider.LcProductYinHangDao">
			<property name="session" ref="sqlSession"></property>
	</bean>
	<!--用户信息dao -->
	<bean id="lcMemberDao" class="org.guili.ecshop.impl.spider.LcMemberDao">
			<property name="session" ref="sqlSession"></property>
	</bean>
	<!-- pet start-->
	<bean id="petDetailDao" class="org.guili.ecshop.impl.pet.PetDetailDao">
			<property name="session" ref="sqlSession"></property>
	</bean>
	<bean id="petCategoryDao" class="org.guili.ecshop.impl.pet.PetCategoryDao">
			<property name="session" ref="sqlSession"></property>
	</bean>
	<bean id="petAddressDao" class="org.guili.ecshop.impl.pet.PetAddressDao">
			<property name="session" ref="sqlSession"></property>
	</bean>
	<!-- pet end-->
</beans>