<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="sub-nav">
		<div class="navbar-inner">
            <ul class="nav">
                <!-- <li class="active"><a href="/Project/List">项目列表</a></li>
                <li class=""><a href="/CreditAssign/List">债权转让列表</a></li> -->
            </ul>
        </div>
	</div>
	<div class="container">
		<div class="left">
			<div class="well">
                <ul class="nav nav-pills">
                    <li class="disabled">
                        <a href="#">项目类别</a>
                    </li>
                    <li class="active"><a href="#">全部</a></li>
                
                        <li class=""><a href="#">企业经营贷</a></li>                       
                        <li class=""><a href="#">购房周转贷</a></li>                       
                        <li class=""><a href="#">核心商圈贷</a></li>                       
                        <li class=""><a href="#">房产抵押贷</a></li>                       
                        <li class=""><a href="#">消费周转贷</a></li>                       

                </ul>

                <ul class="nav nav-pills">
                    <li class="disabled">
                        <a href="#">项目期限</a>
                    </li>
                    <li class="active"><a href="#">全部</a></li>
                    <li class=""><a href="#">3 个月以下</a></li>
                    <li class=""><a href="#">3-6 个月</a></li>
                    <li class=""><a href="#">6-9 个月</a></li>
                    <li class=""><a href="#">9-12 个月</a></li>
                    <li class=""><a href="#">12 个月以上</a></li>
                </ul>

                <ul class="nav nav-pills">
                    <li class="disabled">
                        <a href="#">项目状态</a>
                    </li>
                    <li class="active"><a href="#">全部</a></li>

                        <li class=""><a href="#">投标中</a></li>
                        <li class=""><a href="#">投标完成</a></li>
                        <li class=""><a href="#">还款中</a></li>
                        <li class=""><a href="#">还款完成</a></li>
                </ul>
                <hr class="dashed">
                <p style="margin-bottom: 0;">
                    <i class="icon-red icon-star"></i>
                    资金使用效率高，投标次日即计息。
                    <a class="btn btn-mini btn-warning " href="#">查看详情</a>
                </p>
            </div>
            <div style="position: relative;" class="project-summary wall">
			        <div style="position:absolute;left:-3px;top:83px;">
			            <img src="images/novice-exclusive.png">
			        </div>

			            <div class="row-fluid">
			        <div class="span8 ">
			            <div style="min-height: 75px;">
			                <h4 style="margin-bottom:10px; line-height:18px;padding-top:5px;">
			                    <a href="#">生态牧业企业经营贷款 791-2</a>
			                    <small style="font-size:12px;white-space: nowrap;" class="muted">编号 791-1-2</small>
			                </h4>
			                <p class="project-tags">
			                    <span class="label label-success">投标中</span>
			                    <span class="tag">
			                        <i class="icon-retweet"></i>
			                        企业经营贷
			                    </span>
								<span class="tag">
		                            <i class="icon-certificate"></i>
		                            新手专享
		                        </span>
								<span class="tag"><i class="icon-time"></i>定时标</span>
			                </p>
			            </div>
			            <div class="row-fluid">
			                <div class="span12">
			                    <div style="margin-right: 10px;margin-left:20px;" class="pull-left">
			<a href="/Project/Index/899" class="btn btn-large btn-primary btn-details">我要投资</a>                    </div>
			                    <div class="pull-left">
			                            <div class="project-progress">
			                                    <div class="progress progress-striped active">
			                                        <div style="width: 48.57%;" class="bar"></div>
			                                    </div>
			                            </div>
			                                <p class="project-progress-desc">已融资 971,479.80 元，<span class="important">1,028,520.20</span> 元可投</p>
			                    </div>
			                </div>
			            </div>
			        </div>
			        <div class="span4">
			            <ul class="project-summary-items">
			                <li><span class="title">融资金额</span> 200 万</li>
			                <li>
			                    <span class="title">年化收益</span>
			                    <span class="important data-tips">
			                        11%+1%
			                            <i class="icon-info-sign icon-gray"></i>
			                    </span>
			                </li>
			                <li>
			                    <span class="title">融资期限</span>
			                    <span class="data-tips">
			                        6.5 个月
			                        <i class="icon-info-sign icon-gray"></i>
			                    </span>
			                </li>
			                <li><span class="title">剩余时间</span>11 小时 42 分</li>
			            </ul>
			        </div>
			    </div>

			</div>
			<div style="position: relative;" class="project-summary wall">
					<div class="bid-completed-stamp"></div>
			        <div style="position:absolute;left:-3px;top:83px;">
			            <img src="images/novice-exclusive.png">
			        </div>

			            <div class="row-fluid">
			        <div class="span8 ">
			            <div style="min-height: 75px;">
			                <h4 style="margin-bottom:10px; line-height:18px;padding-top:5px;">
			                    <a href="#">生态牧业企业经营贷款 791-2</a>
			                    <small style="font-size:12px;white-space: nowrap;" class="muted">编号 791-1-2</small>
			                </h4>
			                <p class="project-tags">
			                    <span class="label label-info">还款中</span>
			                    <span class="tag">
			                        <i class="icon-retweet"></i>
			                        企业经营贷
			                    </span>
								<span class="tag">
		                            <i class="icon-certificate"></i>
		                            新手专享
		                        </span>
								<span class="tag"><i class="icon-time"></i>定时标</span>
			                </p>
			            </div>
			            <div class="row-fluid">
			                <div class="span12">
			                    <div style="margin-right: 10px;margin-left:20px;" class="pull-left">
			<a href="/Project/Index/899" class="btn btn-large btn-details">查看详情</a>                    </div>
			                    <div class="pull-left">
			                            <div class="project-progress">
			                                    <div class="progress progress-striped active">
			                                        <div style="width: 48.57%;" class="bar"></div>
			                                    </div>
			                            </div>
			                                <p class="project-progress-desc">已融资 971,479.80 元，<span class="important">1,028,520.20</span> 元可投</p>
			                    </div>
			                </div>
			            </div>
			        </div>
			        <div class="span4">
			            <ul class="project-summary-items">
			                <li><span class="title">融资金额</span> 200 万</li>
			                <li>
			                    <span class="title">年化收益</span>
			                    <span class="important data-tips">
			                        11%+1%
			                            <i class="icon-info-sign icon-gray"></i>
			                    </span>
			                </li>
			                <li>
			                    <span class="title">融资期限</span>
			                    <span class="data-tips">
			                        6.5 个月
			                        <i class="icon-info-sign icon-gray"></i>
			                    </span>
			                </li>
			                <li><span class="title">剩余时间</span>11 小时 42 分</li>
			            </ul>
			        </div>
			    </div>

			</div>
			<div class="pagination pagination-centered">
		        <ul>
		                <li><a href="#">上一页</a></li>
		                <li><a href="#">1</a></li>
		                <li class="active"><a href="#">2</a></li>
		                <li><a href="#">3</a></li>
		                <li><a href="#">4</a></li>
		                <li><a href="#">5</a></li>
		                <li><a href="#">6</a></li>
		                <li><a href="#">7</a></li>
		                <li><a href="#">8</a></li>
		                <li><a href="#">9</a></li>
		                <li><a href="#">下一页</a></li>
		        </ul>
		    </div>
		</div>
		<div class="right post-thumbnail">
			<section>
		        <a class="more" href="#">更多</a>
		        <h3>媒体报道</h3>
		        <ul>
	                <li><a target="_blank" href="#">中国经济网：积木盒子牵手河北融投 利好当地中小微企业</a></li>
	                <li><a target="_blank" href="#">The Corporate Treasurer:Thermo Fisher's rolls out China distributor finance scheme</a></li>
	                <li><a target="_blank" href="#">《第一财经日报》：P2P监管在路上 行业进入理性洗牌期</a></li>
	                <li><a target="_blank" href="#">《经济参考报》：积木盒子：戒慎恐惧，融资平台的另一种做法</a></li>
	                <li><a target="_blank" href="#">《新金融世界》：互联网金融的春天来了</a></li>
		        </ul>
		    </section>
		    <hr>
		    <section>
		        <a class="more" href="#">更多</a>
		        <h3>媒体报道</h3>
		        <ul>
	                <li><a target="_blank" href="#">中国经济网：积木盒子牵手河北融投 利好当地中小微企业</a></li>
	                <li><a target="_blank" href="#">The Corporate Treasurer:Thermo Fisher's rolls out China distributor finance scheme</a></li>
	                <li><a target="_blank" href="#">《第一财经日报》：P2P监管在路上 行业进入理性洗牌期</a></li>
	                <li><a target="_blank" href="#">《经济参考报》：积木盒子：戒慎恐惧，融资平台的另一种做法</a></li>
	                <li><a target="_blank" href="#">《新金融世界》：互联网金融的春天来了</a></li>
		        </ul>
		    </section>
		    <hr>
		</div>
	</div>
	<div class="sup-footer">
	    <div class="container">
            <ul class="nav nav-pills">
                <li>
                    <a href="#">关于我们</a>
                </li>
                <li>
                    <a href="#">常见问题</a>
                </li>
                <li>
                    <a href="#">新手专区</a>
                </li>
                <li>
                    <a href="#">法律声明</a>
                </li>
                <li>
                    <a id="act_contact" href="#" class="no-link">联系我们</a>
                </li>
                
                
                <li>
                    <a href="">友情链接</a>
                </li>
                <li><a id="act_cal" data-toggle="modal" role="button" href="#" class="no-link">收益计算器</a></li>
            </ul>
	    </div>
	</div>
	<div class="footer-wrap">
		<div class="container">
	        <div class="row">
	            <div class="span12">
	                <div class="copyright pull-left">
	                    &copy; 2014 <a href="http://www.jimubox.com/">北京乐融多源信息技术有限公司</a> <span>京ICP备12049103号-2</span>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>